@import "variables.scss";
body{
  overflow: hidden;
  height: 100%;
}
section{
  display: flex;
  background: black;
  div.content-area{
    width: 80%;
  }
  div{

    .content{
      height: 100vh;
      width: 100%;
    }

      .movie-list{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        h2{
          color:white;
        }
      }

  }
}



nav{
  display:flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  width:20%;
  background: $primary-color;
  color:white;
  .logo{
    font-size : 2rem;
    margin-bottom: 3vh;
    margin-top: 5vh;
    font-family: 'Acme', sans-serif;
  }
  .line{
    width:80%;
  }
  .nav-items{
    height: 25%;
    width: 100%;

    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-weight: bolder;
    .nav-item{
      padding:15px;
    }
    .nav-item:hover{
      background:white;
      color:black;
      cursor: pointer;
    }
  }
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  .movie-card{
    height:300px;
    width: 200px;
    border:3px solid white;
    margin-left : 25px;
    margin-top: 10px;
    img{
      height: 80%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    h4{
      text-align: center;
      margin-top: 2px;
      color: white;
    }
  }
}

